@page "/game"
@inherits Minesweeper

<h1>Play</h1>

<table class="game @(CurrentState == State.Playing ? "game-visible" : "game-over")">
    @for (int i = 0; i < @Height; i++)
    {
        <tr>
            @for (int j = 0; j < @Width; j++) {
                Tile tile = Tiles[i][j];
                Action reveal = tile.Reveal;
                <td><button class="btn btn-small" id="@i,@j" onclick="@reveal">@tile.Value</button></td>
            }
        </tr>
    }
</table>
<div class="game-result @GetGameResult()">
    @switch (CurrentState) {
        case State.Lost:
            <p>Game over man, game over!</p>
            break;
        case State.Won:
            <p>Well done!</p>
            break;
    }   
</div>

@functions {

    public string GetGameResult() {
        switch (CurrentState) {
            case State.Playing:
                return "";
            case State.Won:
                return "game-won";
            case State.Lost:
                return "game-lost";
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
}
